/* ##### App Style ##### */
/* Top Style */
.app_wrapper {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  background-image: linear-gradient(50deg, rgb(20, 19, 19), rgb(167, 15, 15), rgb(167, 15, 15), red);
  height: 275px;
}

header div.up-front {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

header div.up-front h1 {
  margin: 0;
  padding: 15px 0 0 0;
  color: white;
  font-size: 3em;
  padding: 10px;
  width: 110px;
}

header div.up-front h2 {
  color: white;
  text-align: center;
  margin: 20px 0 25px 0;
}

header div:last-child a {
  color: white;
}

header div h4 {
  color: white;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 1085px;
  top: 22px;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0 10px 0 0;
  float: left;
}

ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9em;
  margin: 0;
  padding: 0 10px 0 10px;
  text-decoration: none;
  color: white;
}

/* Search Box */
.search-box-wrapper {
  width: 750px;
  margin: 0 auto;
  position: relative;
}

.search-box {
  width: 645px;
  height: 50px;
  border: none;
  border-radius: 25px 0 0 25px;
  margin: 0;
  padding: 10px 15px 10px 15px;
}

.search-button {
  margin: 0;
  padding: 18px;
  color: white;
  width: 100px;
  background-color: rgb(20, 19, 19);
  border-radius: 0 25px 25px 0;
  border: none;
}

/* #### Search Result Style #### */
.search-result {
  width: 1100px;
  margin: 0 auto;
}

section {
  font-family: Arial;
  font-size: .9em;
  height: 200px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0 15px 0 15px;
  margin: 10px 0 10px 0;
  box-shadow: 2px 2px 7px #faeaea;
  -webkit-box-shadow: 2px 2px 7px #aaaaaa;
  -moz-box-shadow: 2px 2px 7px #aaaaaa;
  background-color: white;
}

section a, section a:active {
  text-decoration: none;
  color: rgb(167, 15, 15);
}

section p:first-child {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section p:nth-child(4) {
  color: rgb(80, 78, 78);
}

section span, section button {
  position: relative;
  left: 725px;
  margin: 25px;
}

section span.search-opt {
  font-size: 1.5em;
  color: rgb(167, 15, 15);
  margin-left: -1055px;
}

section span.search-opt:hover {
  cursor: pointer;
}

section i {
  float: right;
  margin: 0 5px 0 0;
}

/* Remove Button Style*/
.rm-btn {
  margin: 0;
  padding: 7px;
  color: white;
  width: 70px;
  background-color: rgb(20, 19, 19);
  border-radius: 4px;
  border: none;
}

/* More Button Style */
div.more-btn-wrapper {
  width: 400px;
  margin: 0 auto;
}

.more-btn {
  width: 395px;
  color: rgb(167, 15, 15);
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  border: 1.5px solid rgb(167, 15, 15);
  border-radius: 40px;
  -webkit-border-raduis: 30px;
  -moz-border-raduis: 30px;
  padding: 7px 0 7px 0;
  margin: 10px 0 25px 0;
}

.more-btn:hover {
  color: rgb(167, 15, 15);
  background-color: white;
  border: 1.5px solid white;
  box-shadow: 2px 2px 15px #faeaea;
  -webkit-box-shadow: 2px 2px 15px #aaaaaa;
  -moz-box-shadow: 2px 2px 15px #aaaaaa;
  background-color: white;
}

/* Loding and Error Style*/
.error {
  font-size: 2em;
  color: rgba(20, 19, 19, .2);
  text-align: center;
  margin: 95px 0 115px 0;
}

.loading {
  font-size: 2em;
  color: rgba(20, 19, 19, .2);
  text-align: center;
  margin: 95px 0 95px 0;
}

.loading-more {
  font-size: 2em;
  color: rgba(20, 19, 19, .2);
  text-align: center;
  margin: 0 5px 40px 0;
}

/* Sort Buttons Styles */
.sort-points {
  color: rgb(20, 19, 19);
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0 10px 0;
  float: right;
}

div.sort-points span:first-child .sort-btn {
  border-radius: 7px 0 0 7px;
  -webkit-border-raduis: 7px 0 0 7px;
  -moz-border-raduis: 7px 0 0 7px;
}

div.sort-points span:last-child .sort-btn {
  border-radius: 0 7px 7px 0;
  -webkit-border-raduis: 0 7px 7px 0;
  -moz-border-raduis: 0 7px 7px 0;
  margin-right: 10px;
}

.sort-btn {
  color: rgb(80, 78, 78);
  background-color: white;
  border: 1px solid rgb(215, 215, 215);
  border-right: 1px solid rgb(215, 215, 215);
  margin: 0;
  padding: 7px 15px 7px 15px;
}

.sort-btn-active, .sort-btn:hover {
  background-color: rgb(20, 19, 19);
  border: 1px solid rgb(20, 19, 19);
  border-bottom: 2px solid white;
  color: white;
}